.order-form-container {
     width: 100%;
     min-height: 100vh;
     padding: 5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 16px;
     background: linear-gradient(
          45deg,
          rgba(232, 12, 65, 1) 0%,
          rgba(44, 48, 212, 1) 99%
     );
}
form {
     background-color: #fff;
     padding: 2rem !important;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     border-radius: 16px;
}
form p {
     text-decoration: underline;
     cursor: pointer;
}
form button {
     width: 100%;
}
.ant-form-item-label {
     text-align: left;
}
.ant-form-item-control-input-content {
     display: flex;
     justify-content: start;
     flex-wrap: wrap;
     gap: 1rem;
}
